@using AppSigmaAdmin.Utility

@section style {
<style>

        .menuBox {
            margin-top: 45px;
            @*margin-left: 20%;*@
            padding: 40px;
            padding-top: 50px;
            font-size: 15pt;
            text-align:center;
        }

        table.menuTable {
            width: 800px;
        }

            table.menuTable tr {
                height: 50px;
            }

            table.menuTable th {
                width: 150px;
            }
        input[type="submit"].accent-color-button_l,
        input[type="button"].accent-color-button_l,
        button.accent-color-button_l {
            width: 300px;
            font-size: 12pt;
            text-align: center;
            border: none;
            background-color: #f42f66;
            color: white;
            border-radius: 25px;
            font-weight: bold !important;
            height: 35px;
            line-height: 35px;
            cursor: pointer;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
        }
        input[type="submit"].accent-color-button_b,
        input[type="button"].accent-color-button_b,
        button.accent-color-button_b {
            width: 300px;
            font-size: 12pt;
            text-align: center;
            border: none;
            background-color: #1da4b8;
            color: white;
            border-radius: 25px;
            font-weight: bold !important;
            height: 35px;
            line-height: 35px;
            cursor: pointer;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
        }
</style>
}

@section funcTitle {
    <div class="funcTitleBer">
        メニュー
    </div>
}

<div class="ContentsBase">
    <div class="menuBox">
        @*<table class="menuTable">
            <tr>
                <th><a href="@Common.CreateUrl("/UserInfo", false)">ユーザ情報参照</a></th>
                <td>：ユーザ情報の閲覧</td>
            </tr>

            @*<tr>
                <th><a href="@Common.CreateUrl("/PaymentManage", false)">決済管理</a></th>
                <td>：決済状況の管理、決済情報の出力</td>
            </tr>
            <tr>
                <th><a href="@Common.CreateUrl("/OperationMonitoring", false)">運用監視</a></th>
                <td>：プロジェクトΣシステムの各種リソースの監視、運用レポート出力</td>
            </tr>
        </table>*@
        <div>
            <input type="submit" value="ユーザ情報参照: ユーザ情報の閲覧" class="accent-color-button_b" style="margin-bottom:20px" onclick="window.location.href='@Common.CreateUrl("/UserInfo", false)'" />
        </div>
        <div>
            <input type="submit" value="決済管理：西鉄" class="accent-color-button_b" style="margin-bottom:20px" onclick="window.location.href='@Common.CreateUrl("/PaymentList/Nishitetsu", false)'" />
        </div>
        <div>
            <input type="submit" value="決済エラー管理：西鉄" class="accent-color-button_l" style="margin-bottom:20px" onclick="window.location.href='@Common.CreateUrl("/UserInfo", false)'" />
        </div>
        <div>
            <input type="submit" value="決済管理：JapanTaxi" class="accent-color-button_b" style="margin-bottom:10px" onclick="window.location.href='@Common.CreateUrl("/PaymentList/JapanTaxi", false)'" />
        </div>
        <div>
            <input type="submit" value="決済エラー管理：JapanTaxi" class="accent-color-button_l" style="margin-bottom:10px" onclick="window.location.href='@Common.CreateUrl("/UserInfo", false)'" />
        </div>
        <div>
            <input type="submit" value="決済管理：ナッセ" class="accent-color-button_b" style="margin-bottom:10px" onclick="window.location.href='@Common.CreateUrl("/PaymentList/Nasse", false)'" />
        </div>
        <div>
            <input type="submit" value="決済エラー管理：ナッセ" class="accent-color-button_l" style="margin-bottom:10px" onclick="window.location.href='@Common.CreateUrl("/PaymentList/Nasse", false)'" />
        </div>
        <div>
            <input type="submit" value="ログ管理" class="accent-color-button_b" style="margin-bottom:10px" onclick="window.location.href='@Common.CreateUrl("/UserInfo", false)'" />
        </div>
    </div>
</div>
