@using AppSigmaAdmin.Utility
@using AppSigmaAdmin.Library
@using AppSigmaAdmin.Models

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string userName = "";
    UserInfoAdminEntity userInfoAdminEntity = null;
    if (Session[SystemConst.SESSION_USER_INFO_ADMIN] != null)
    {
        userInfoAdminEntity = (UserInfoAdminEntity)Session[SystemConst.SESSION_USER_INFO_ADMIN];
        userName = userInfoAdminEntity.Name;
    }

}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>プロジェクトΣ</title>

    @Scripts.RenderFormat(BundleHtmlTag.ScriptTag, "~/bundles/jquery")
    @Scripts.RenderFormat(BundleHtmlTag.ScriptTag, "~/bundles/jquery-ui")

    @Styles.RenderFormat(BundleHtmlTag.StyleTag, "~/Content/jquery-ui/css")
    @Styles.RenderFormat(BundleHtmlTag.StyleTag, "~/Content/app-site/css")

    @RenderSection("Style", false)
    @RenderSection("scripts", required: false)

    <style id="antiClickjack">
        body {
            display: none !important;
        }
    </style>

    @Scripts.Render("~/bundles/jquery/common")

    <link rel="shortcut icon" href="@Common.CreateUrl("/favicon.ico", false)" type="image/vnd.microsoft.ico" />
</head>
<body>
    <section id="header">
        <div class="headerBox">
            <img src="@Common.CreateUrl("/Images/hdr_logo2.png",false)" style="width:95px; float:left; margin-top:4px; margin-left:4px;" />
            @if (!string.IsNullOrEmpty(controllerName) && controllerName != "Login")
            {
                <div class="logoutCaption">
                    <a href="@Common.CreateUrl("/Logout", false)">ログアウト</a>
                </div>
                if (controllerName != "Menu")
                {
                    <div class="logoutCaption">
                        <a href="@Common.CreateUrl("/Menu", false)">メニューへ</a>
                    </div>
                }
                <div class="loginCaption">
                    <span style="color: #ffffff; padding-right: 30px;">ログイン： @userName</span>
                </div>
            }


            <div class="title">Management Console</div>
        </div>
        <div class="headerBoxSub">
            @RenderSection("funcTitle", false)
        </div>
    </section>


    <section id="body">
        @RenderBody()
    </section>

</body>
</html>
