@using AppSigmaAdmin.Utility

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string userName = "";
    AppSigmaAdmin.Models.UserInfoAdminEntity userInfoAdminEntity = null;
    if (Session[AppSigmaAdmin.Library.SystemConst.SESSION_USER_INFO_ADMIN] != null)
    {
        userInfoAdminEntity = (AppSigmaAdmin.Models.UserInfoAdminEntity)Session[AppSigmaAdmin.Library.SystemConst.SESSION_USER_INFO_ADMIN];
        userName = userInfoAdminEntity.Name;
    }

}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>プロジェクトΣ</title>
    <link href="@Common.CreateUrl("/Content/Site.css", false)" rel="stylesheet" />
    <!--
    <link href="@Common.CreateUrl("/Content/bootstrap.css", false)" rel="stylesheet">
    -->

    <script src="@Common.CreateUrl("/Scripts/jquery-1.10.2.min.js", false)"></script>

    @*@Styles.Render("~/sigma/Content/css")*@
    @RenderSection("Style", false)
    @*@Scripts.Render("~/sigma/bundles/jquery")*@
    @RenderSection("scripts", required: false)
    <style id="antiClickjack">
        body {
            display: none !important;
        }
    </style>
    <script type="text/javascript">
        if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        } else {
            top.location = self.location;
        }
    </script>

    <link rel="shortcut icon" href="@Common.CreateUrl("/favicon.ico", false)" type="image/vnd.microsoft.ico" />
</head>
<body>
    <section id="header">
        <div class="headerBox">
            <img src="~/Images/hdr_logo_w.png" style="width:120px; float:left; margin-left:5px;" />
            @if (!string.IsNullOrEmpty(controllerName) && controllerName != "Login")
            {
                <div class="logoutCaption">
                    <a href="@Common.CreateUrl("/Logout", false)">ログアウト</a>
                </div>
                <div class="loginCaption">
                    <span style="color: #ffffff; padding-right: 30px;">ログイン： @userName</span>
                </div>

                if (controllerName != "Menu")
                {
                    <div class="toMenuCaption">
                        <button class="action-menu" onclick="location.href = '@Common.CreateUrl("/Menu", false)';">メニューに戻る</button>
                    </div>
                }
            }



            <div class="title">Management Console</div>

            <!--
    <span style="color:white;font-size:30pt;padding-left:10px;">プロジェクトΣ</span>
    @if (!string.IsNullOrEmpty(controllerName) && controllerName != "Login")
    {
        <div class="logoutCaption">
            <a href="@Common.CreateUrl("/Logout", false)">ログアウト</a>
        </div>
        <div class="loginCaption">
            <span style="color: #ffffff; padding-right: 30px;">ログイン： @userName</span>
        </div>

        if (controllerName != "Menu")
        {
            <div class="toMenuCaption">
                <button class="action-menu" onclick="location.href = '@Common.CreateUrl("/Menu", false)';">メニューに戻る</button>
            </div>
        }
    }
    -->

        </div>
        <div class="headerBoxSub">
            @RenderSection("funcTitle")
        </div>
    </section>

    <section id="funcTitle">
        @* RenderSection("funcTitle") *@
    </section>

    <section id="body">
        @RenderBody()
    </section>

</body>
</html>
