@model AppSigmaAdmin.Models.LoginModel

@{
}

@section style {
    <style>

        input[type="text"],
        input[type="password"] {
            border: 1px solid #bbbbbb;
            padding-left: 5px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-left: 2px;
            font-size: 12pt;
            height: 35px;
            border-radius: 3px;
            width: 445px;
        }

        input[type="text"]::-moz-placeholder,
        input[type="password"]::-moz-placeholder {
            color: #aaaaaa;
        }

        .loginBox {
            width: 550px;
            margin-top: 45px;
            margin-left: 33%;
            padding: 40px;
            padding-top: 50px;
            text-align: center;
            background-color: #ffffff;
            border-radius: 3px;
            box-shadow: 0px 0px 1px 1px #dddddd;
        }

        .validation-summary-errors {
            color: #ff0000;
        }

        .validation-summary-valid ul:first-line {
            display: none;
        }
    </style>
}

@section funcTitle {
    <div class="funcTitleBer">
        ログイン
    </div>
}

@using (Html.BeginForm("Index", "Login"))
{
    @Html.AntiForgeryToken()
    <div class="ContentsBase">
        <div class="loginBox">
            <div class="clearfix">
                アカウント：
                @Html.TextBoxFor(m => m.MailAddress, new { placeholder = "アカウント", required = "required" })
                @Html.ValidationMessageFor(m => m.MailAddress)
            </div>
            <br />
            <div class="clearfix">
                パスワード：
                @Html.PasswordFor(m => m.Password, new { placeholder = "パスワード", required = "required", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="clearfix" style="text-align:left; height:50px; padding-top:15px;">
                @Html.ValidationSummary(false, "")
            </div>
            <div class="clearfix">
                <input type="submit" value="ログイン" class="action-enter" style="margin-bottom:10px" />
            </div>
        </div>
    </div>
}
