@model AppSigmaAdmin.Models.LoginModel
@using AppSigmaAdmin.Utility
@{
}

@section style {
    <style>
        .std-textbox {
            width: 400px;
            padding-top: 2px !important;
            padding-bottom: 2px !important;
        }

        .loginBox {
            width: 550px;
            margin-top: 45px;
            padding-top: 50px;
            text-align: center;
            background-color: #ffffff;
            border-radius: 3px;
            box-shadow: 0px 0px 1px 1px #dddddd;
            margin: 0 auto;
        }

        .validation-summary-errors {
            color: #ff0000;
        }

        .validation-summary-valid ul:first-line {
            display: none;
        }
    </style>
}

@section funcTitle {
    <div class="funcTitleBer">
        ログイン
    </div>
}
<form action="@Common.CreateUrl("/", false)" method="post">
    @Html.AntiForgeryToken()
        <div class="loginBox">
            <div class="clearfix">
                アカウント：
                @Html.TextBoxFor(m => m.MailAddress, new {Class = "std-textbox", placeholder = "アカウント", required = "required" })
                @Html.ValidationMessageFor(m => m.MailAddress) 
            </div>
            <br />
            <div class="clearfix">
                パスワード：
                @Html.PasswordFor(m => m.Password, new {Class = "std-textbox", placeholder = "パスワード", required = "required", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="clearfix" style="text-align:left; padding-top:15px;">
                @Html.ValidationSummary(false, "")
            </div>
            <div>
                <input type="submit" value="ログイン" class="accent-color-button" style="margin-bottom:10px" />
            </div>
            <br />
        </div>
</form>
