@model AppSigmaAdmin.Models.ResonsID
@using AppSigmaAdmin.Utility
@using System.Data

@section style {
    <style>
        .userInfoBox {
            width: 550px;
            margin-top: 45px;
            margin-left: 33%;
            padding: 40px;
            padding-top: 50px;
            text-align: center;
            background-color: #ffffff;
            border-radius: 3px;
            box-shadow: 0px 0px 1px 1px #dddddd;
        }

        input {
            width: 250px
        }

        .validation-summary-errors {
            color: #ff0000;
            text-align: left;
        }

        .validation-summary-valid ul:first-line {
            display: none;
        }

        #errorMessage {
            padding-top: 10px;
        }

        #message-left {
            display: table-cell;
            font-size: 16px;
            border-bottom: solid 1px #1da4b8;
            border-left: solid 1px #1da4b8;
            color: #ffffff;
            background-color: #1da4b8;
            vertical-align: middle;
            width: 80px;
            height:30px;
        }
        #message-right {
            display: table-cell;
            font-size: 16px;
            border-bottom: solid 1px #1da4b8;
            border-right: solid 1px #1da4b8;
            vertical-align: middle;
            color: #ffffff;
            background-color: #1da4b8;
            width: 180px;
            height: 30px;
        }
        #messagelong {
            display: table-cell;
            font-size: 16px;
            color: #ffffff;
            background-color: #1da4b8;
            width: 180px;
            height: 30px;
            border-bottom: solid 1px #1da4b8;
            border-left: solid 1px #ffffff;
            border-right: solid 1px #ffffff;
            vertical-align: middle;
        }
        #messagebox {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            font-size: 16px;
            border-bottom: solid 1px #1da4b8;
            border-left: solid 1px #1da4b8;
            border-right: solid 1px #1da4b8;
            width: 80px;
            height: 45px;
        }
        #messageboxlong {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            font-size: 16px;
            border-bottom: solid 1px #1da4b8;
            border-left: solid 1px #1da4b8;
            border-right: solid 1px #1da4b8;
            width: 180px;
            height: 45px;
        }
        #messagebox-grey {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            font-size: 16px;
            border-bottom: solid 1px #1da4b8;
            border-left: solid 1px #1da4b8;
            border-right: solid 1px #1da4b8;
            width: 80px;
            height: 45px;
            background-color: #CCCCCC;
            color: #666666;
        }
        #messageboxlong-grey {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            font-size: 16px;
            border-bottom: solid 1px #1da4b8;
            border-left: solid 1px #1da4b8;
            border-right: solid 1px #1da4b8;
            width: 180px;
            height: 45px;
            background-color: #CCCCCC;
            color: #666666;
        }
        #box {
            display: table;
            width: 440px;
            margin-right: auto;
            margin-left: auto;
            border-collapse: collapse;
        }
        #box2 {
            display: table;
            width: 440px;
            margin-right: auto;
            margin-left: auto;
            border-collapse: collapse;
        }
    </style>
}

@section funcTitle {
    <div class="funcTitleBer">
        ユーザ情報参照
    </div>
}
<form action="@Common.CreateUrl("/UserInfo", false)" method="post">
    @Html.AntiForgeryToken()
    <div class="ContentsBase">
        <div class="userInfoBox">
            <div class="clearfix">
                メールアドレス（完全一致）：
                @Html.TextBoxFor(m => m.MailAddress, new { placeholder = "メールアドレス", required = "required" })
                @Html.ValidationMessageFor(m => m.MailAddress)
            </div>
            <div class="clearfix" id="errorMessage">
            </div>
            <div class="clearfix">
                <input type="submit" value="照会" class="action-enter" />
            </div>
            <div class="clearfix" id="errorMessage">
                @Html.ValidationSummary(false, "")
            </div>
            @if (Model != null)
            {
                if (Model.UserIdInfoList != null)
                {
                    <div class="clearfix" id="box2">
                        <div class="clearfix" id="message-left">
                            ユーザID
                        </div>
                        <div class="clearfix" id="messagelong">
                            作成日時
                        </div>
                        <div class="clearfix" id="message-right">
                            退会日時
                        </div>
                    </div>
                    foreach (var IdResultList in Model.UserIdInfoList)
                    {
                        string userid = IdResultList.UserId.ToString();
                        string useridcreatetime = IdResultList.CreateDatetime.ToString();
                        string deletedate = IdResultList.DeleteDate.ToString();
                        @*退会日時判定*@
                        if (!deletedate.Contains("―"))
                        {
                            @*退会していない場合は染色なしで記載する*@
                            <div class="clearfix" id="box">
                                <div class="clearfix" id="messagebox-grey">
                                    @userid
                                </div>
                                <div class="clearfix" id="messageboxlong-grey">
                                    @useridcreatetime
                                </div>
                                <div class="clearfix" id="messageboxlong-grey">
                                    @deletedate
                                </div>
                            </div>
                        }
                        else
                        {
                            @*退会済みの場合は退会日時を記載し、行を灰色に染色して表示する*@
                            <div class="clearfix" id="box">
                                <div class="clearfix" id="messagebox">
                                    @userid
                                </div>
                                <div class="clearfix" id="messageboxlong">
                                    @useridcreatetime
                                </div>
                                <div class="clearfix" id="messageboxlong">
                                    @deletedate
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>
        </div>
            </form>
