@model AppSigmaAdmin.ResponseData.JtxPaymentInfoListEntity
@using AppSigmaAdmin.Utility
@using System.Data
@using AppSigmaAdmin.Library

@section style{
    <style></style>
}

@{
    ViewBag.Title = "決済データ検索及びダウンロード（JapanTaxi）";
}
@section funcTitle {
    <div class="funcTitleBer">
        決済データ検索及びダウンロード（JapanTaxi）
    </div>
}

<input type="hidden" id="DebugFlag" value="@ApplicationConfig.DeployEnv" />
<input type="hidden" id="Debug" value="@ApplicationConfig.ENV_DEBUG" />
<input type="hidden" id="CreateUrl" value="@Common.CreateUrl("/MPA0201", false)" />

<form action="@Common.CreateUrl("/MPA0201", false)" method="post">
    <div class="ContentsBase">
        <div class="userInfoBox">
            <div class="GridTable">
                <div class="GridTableRow">
                    <div class="GridTableCell">
                        期間:
                        @Html.TextBoxFor(m => m.TargetDateBegin, new { Class = "std-textbox", placeholder = "開始日時", onclick = " SetcalenderFrom();", id = "datetimepickerFrom", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.TargetDateBegin)
                        から
                        @Html.TextBoxFor(m => m.TargetDateEnd, new { Class = "std-textbox", placeholder = "終了日時", onclick = " SetcalenderTo();", id = "datetimepickerTo", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.TargetDateEnd)
                        まで
                    </div>
                    <div class="GridTableCell">
                        <input type="submit" formaction="@Common.CreateUrl("/MPA0201/Index", false)" formmethod="post" value="検索" class="accent-color-button" style="margin-bottom:10px" />
                    </div>

                </div>

                <div class="GridTableRow">
                    <div class="GridTableCell">
                        myroute会員ID：
                        @Html.TextBoxFor(Model => Model.UserId, new { Class = "std-textbox", placeholder = "myroute会員ID" })
                        @Html.ValidationMessageFor(Model => Model.UserId)
                    </div>
                    <div class="GridTableCell">
                        <input type="submit" formaction="@Common.CreateUrl("/MPA0201/JtxOutPutDate", false)" formmethod="post" id="JtxOutPutDate" value="CSVダウンロード" class="accent-color-button" style="margin-bottom:10px" />
                    </div>
                </div>
                <div class="GridTableRow">
                    <div class="GridTableCell">
                            @{
                                //アプリ種別ドロップリスト項目作成
                                List<SelectListItem> AplList = new List<SelectListItem>();
                                AplList = @ViewBag.AplList;
                            }
                            アプリ種別：
                            @Html.DropDownListFor(Model => Model.Apltype, AplList, new { Class = "DropList", id = "AplTypeSelect" })
                    </div>
                    <div class="GridTableCell">
                        <input type="button" value="条件クリア" class="action-enter" style="margin-bottom:10px" id="AllClear" />
                    </div>

                </div>

            </div>
            <div class="errorMessage">
                @Html.ValidationSummary(false, "")
                @Html.HiddenFor(Model => Model.Apltype, new { id = "ModelAplType" })
            </div>

            <div>
                @{
                    if (Model != null)
                    {
                        if (Model.JtxPaymentInfoList != null)
                        {
                            @*表示件数：10件*@
                            var grid = new WebGrid(null, rowsPerPage: Model.ListNum, canSort: false);
                            grid.Bind(source: Model.JtxPaymentInfoList, autoSortAndPage: false, rowCount: Model.ListMaxCount);

                            <div class="grid-table">
                                @grid.GetHtml(tableStyle:"gridTable",headerStyle: "gridhead" ,
                 columns: grid.Columns(grid.Column("UserId", header: "myroute会員ID", style: "gridbody6"), grid.Column("TranDatetime", header: "決済日", style: "gridbody18"),
                 grid.Column("PaymentId", header: "決済ID", style: "gridbody6"), grid.Column("CompanyName", header: "加盟店屋号", style: "gridbody14"),
                 grid.Column("OrderId", header: "JTXオーダーID", style: "gridbody35"), grid.Column("PaymentType", header: "決済種別", style: "gridbody8"),
                   grid.Column("Amount", header: "利用金額", style: "gridbody8"), grid.Column("Apltype", header: "アプリ種別", style: "gridbody6")
                 ))
                            </div>

                        }
                    }
                }
            </div>
        </div>
        
    </div>
</form>
